section.chess-container {
  --chess-piece-white-color: #f4f7fa;
  --chess-piece-black-color: #34364c;

  --chess-board-white-color: #e8edf9;
  --chess-board-black-color: #b7c0d8;
  --chess-square-size: 60px;
  --chess-player-name-size: 0.975rem;

  --chess-side-w: 400px;
  --chess-side-text-size: 1rem;
  --chess-side-h: 360px;
  --chess-side-move-text-size: 1rem;
  --chess-side-color: #2c2e43;
  --chess-side-even-color: #2e3046;
  --chess-side-text-color: hsla(0, 0%, 100%, 0.72);

  --promotion-dialog-w: 16%;
  --promotion-dialog-h: 60%;
  --promotion-dialog-close-size: 30px;

  --chess-button-w: 110px;
  --chess-button-h: 40px;
  --chess-button-icon-size: 32px;
}
