<section class="shared-container relative justify-center chess-container">
  <aside
    class="absolute top-[1%] right-[6%] min-[740px]:right-0 min-[740px]:left-[1%]"
  >
    <button
      class="text-format menu-logo"
      role="button"
      [disabled]="controller.isPaused"
      (click)="controller.isPaused = true"
    >
      ||
    </button>
  </aside>
  <chess-game-board>
    <chess-card-player black [player]="2"></chess-card-player>
    <ng-container>
      @for(ROW of chessBoardView; track "x-"+x; let x = $index){ @for(PIECE of
      ROW; track "y-"+y; let y = $index){
      <chess-square
        (clickSquare)="move($event)"
        [row]="x"
        [column]="y"
        [piece]="PIECE"
        [isSquarePromotionSquare]="isSquarePromotionSquare(x, y)"
        [isSquareChecked]="isSquareChecked(x, y)"
        [isSquareSelected]="isSquareSelected(x, y)"
        [isSquareLastMove]="isSquareLastMove(x, y)"
        [isSquareSafeForSelectedPiece]="isSquareSafeForSelectedPiece(x, y)"
      ></chess-square>
      } } @if(isPromotionActive){
      <chess-promotion-dialog
        [player]="currentPlayer"
        (closeDialog)="closePawnPromotionDialog()"
        (promote)="promotePiece($event)"
      ></chess-promotion-dialog>
      }
    </ng-container>
    <chess-card-player white [player]="1"></chess-card-player>
  </chess-game-board>
  <chess-side-controller
    [pointer]="controller.gameHistory.gameHistoryPointer"
    [fullMoveSize]="controller.gameHistory.moveList.length"
    [moveList]="controller.gameHistory.moveList"
    (forward)="showPreviousPosition($event)"
    (goBack)="showPreviousPosition($event)"
    (reset)="restartGame()"
  >
    <chess-move-list
      [moveList]="controller.gameHistory.moveList"
      [pointer]="controller.gameHistory.gameHistoryPointer"
      (showPreviousPositionEvent)="showPreviousPosition($event)"
    ></chess-move-list>
  </chess-side-controller>
</section>

@if(controller.isPaused){
<welcome-chess-modal></welcome-chess-modal>
} @if(controller.isGameOver){
<endgame-modal-chess></endgame-modal-chess>
}
