<div class="modal modal-bg">
  <h3 class="modal-title-with-bar">Welcome</h3>

  <h4 class="text-format message-modal-sub">How to play</h4>
  <div class="flex flex-col gap-y-1">
    <p class="text-intro ">Left: <strong>a</strong> y <strong>&larr;</strong></p>
    <p class="text-intro ">Right: <strong>d</strong> y <strong>&rarr;</strong></p>
    <p class="text-intro ">Down: <strong>s</strong> y <strong>&darr;</strong></p>
    <p class="text-intro ">Up: <strong>w</strong> y <strong>&uarr;</strong></p>
    <p class="text-intro ">Pause/Resume: <strong>p</strong> y <strong>escape</strong></p>
  </div>

  <div class="w-full flex justify-center items-center mt-4 buttons">
      <button class="abstract-button exit-button" (click)="close()" tabindex="1" role="button">Exit Game</button>
      <button class="abstract-button play-button" (click)="playGame()" tabindex="2" role="button">Play Game</button>
  </div>
</div>