.modal{
    position: absolute;
    inset: 0;
    width: 270px;
    aspect-ratio: 2/1;
    z-index: 20;
    padding: 12px;
    padding-block-start: 8px;
    border-radius: 1rem;
    border: solid 3px #000;
    box-shadow: inset -10px -10px 25px 0px rgba(0,0,0,0.1), 0 8px 6px -6px black;
}

.exit-button {
    background-color: var(--ttt-accent);
    color: var(--ttt-text-200);
  }

  .play-button {
    background-color: var(--ttt-primary);
    color: var(--ttt-text-200);
  }

  .exit-button:hover {
    background-color: var(--ttt-select-o-200);
    color: var(--ttt-text);
  }

  .play-button:hover{
    background-color: var(--ttt-primary-100);
    color: var(--ttt-text);
  }

  .modal-title-with-bar {
    text-align: center;
    color: var(--ttt-primary-300);
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid var(--ttt-text-200);
}

.modal p{
    color: var(--ttt-text-200);
    text-align: center;
}

.buttons{
    column-gap: 15px;
}

.text-intro {
  font-size: 1.1rem/* 18px */;
  line-height: 1.4rem/* 28px */;
}

@media screen and (min-width: 600px){
  .buttons{
    column-gap: 5px;
  }
  .text-intro {
    font-size: 1.5em;
    line-height: normal;
  }
    .modal{
        width: 550px;
        padding: 12px;
        padding-block-start: 8px;
    }

    .modal-title-with-bar{
      font-size: 3rem;
  }
}

@media screen and (min-width: 1500px){
  .modal{
    width: 750px;
    padding: 15px;
  }
  .modal-title-with-bar{
    font-size: 4.2rem;
  }

  .text-intro {
    font-size: 2.3rem;
    line-height: 4rem;
  }
}
