<section class="shared-container relative">
  <app-particles></app-particles>

  <div class="logo-container">
    <a class="text-format menu-logo text-menu" role="button" routerLink="/" tabindex="0">Menu</a>
  </div>


  <main class="games-container">

    <article *ngFor="let GAME of GAMES; let i = index" >
      <div class="game" [routerLink]="GAME.PATH" [tabindex]="i+1">
        <picture>
          <img [ngSrc]="GAME.IMG" [alt]="GAME.ALT" role="img" fill [priority]="i == 0 ? true : false">
        </picture>
      </div>

      <h2 class="game-caption">{{ GAME.NAME }}</h2>
    </article>

  </main>
</section>