<section class="shared-container relative">
  <div class="logo-container">
    <a
      class="text-format menu-logo text-menu"
      role="button"
      routerLink="/"
      tabindex="0"
      >Menu</a
    >
  </div>

  <main class="games-container">
    @for (GAME of GAMES; track GAME.ID; let i = $index) {
    <article>
      <div class="game" [routerLink]="GAME.PATH" [tabindex]="i + 1">
        <picture>
          <img
            [ngSrc]="GAME.IMG"
            [alt]="GAME.ALT"
            role="presentation"
            fill
            [priority]="GAME.priority"
          />
        </picture>
      </div>

      <h2 class="game-caption">{{ GAME.NAME }}</h2>
    </article>
    }
  </main>
</section>
