<section class="shared-container justify-center relative">
  <app-particles></app-particles>

  <main class="tictactoe-wrapper ">
    <h1 class="tictactoe-title">Tic Tac Toe</h1>
    
    <display-info 
    captionO="O's Turn" captionX="X's Turn" 
    [oCurrent]="!this.controller.isPlayerXTurn()" 
    [xCurrent]="this.controller.isPlayerXTurn()" [displayClass]="['mb-4']"></display-info>
  
    <div #board class="board">
      <div *ngFor="let row of this.controller.retrieveBoard(); let rowI = index" class="line" [id]="'line-'+(rowI+1)">
        <div *ngFor="let cell of row; let cellI = index" class="cell" (click)="cellSelected(rowI, cellI)" [ngClass]="{'cell-X': cell === 'X', 'cell-O': cell === 'O'}" [id]="'cell-'+(rowI+1)+'-'+(cellI+1)">
          {{ cell !== '0' ? cell : '' }}
        </div>
      </div>
    </div>

    <display-info [captionO]="this.controller.scorePlayerO.toString()" [captionX]="this.controller.scorePlayerX.toString()" [oCurrent]="true" [xCurrent]="true" [displayClass]="['mt-7']"></display-info>
  </main>

  <select-modal-ttt *ngIf="this.controller.partyIsBegging()"></select-modal-ttt>

  <endgame-modal-ttt *ngIf="this.controller.partyIsEnded()"></endgame-modal-ttt>
</section>