<section class="shared-container justify-center relative">
  <aside class="absolute top-[2%] left-[2%] z-50">
    <button
      class="text-format menu-logo"
      role="button"
      (click)="this.controller.reset()"
      tabindex="0"
      title="Reset button"
    >
      ||
    </button>
  </aside>
  <main class="tictactoe-wrapper">
    <h2 class="tictactoe-title">Tic Tac Toe</h2>

    <display-info
      captionO="O's Turn"
      captionX="X's Turn"
      [oCurrent]="!this.controller.isPlayerXTurn()"
      [xCurrent]="this.controller.isPlayerXTurn()"
      [displayClass]="['mb-4']"
    ></display-info>

    <div
      #board
      class="board"
      aria-details="Board where tic tac toe is being played"
    >
      @for(row of this.controller.retrieveBoard(); track "ln-"+rowI; let rowI =
      $index){
      <div class="line" [id]="'line-' + (rowI + 1)">
        @for(cell of row; track "cll"+cellI; let cellI = $index){
        <div
          class="cell"
          (click)="cellSelected(rowI, cellI)"
          [ngClass]="{ 'cell-X': cell === 'X', 'cell-O': cell === 'O' }"
          [id]="'cell-' + (rowI + 1) + '-' + (cellI + 1)"
        >
          {{ cell !== "0" ? cell : "" }}
        </div>
        }
      </div>
      }
    </div>

    <display-info
      [captionO]="this.controller.scorePlayerO.toString()"
      [captionX]="this.controller.scorePlayerX.toString()"
      [oCurrent]="true"
      [xCurrent]="true"
      [displayClass]="['mt-7']"
    ></display-info>
  </main>

  @if(this.controller.partyIsBegging()){
  <select-modal-ttt></select-modal-ttt>
  }@if(this.controller.partyIsEnded()){
  <endgame-modal-ttt></endgame-modal-ttt>
  }
</section>
