
.header-snake{
    width: 100%;
    height: 100px;
    background-color: #4B752C;
    display: flex;
    justify-content: space-evenly;
}

.snake-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    flex-direction: column;
}

.pause{
    background-color: #000;
    aspect-ratio: 7/7;
    color: #fff;
    font-weight: 900;
    display: flex;
    margin-block-end: auto;
    justify-content: center;
    width: 30px;
    font-size: 1.2rem;
    font-weight: 900;
    margin-block-start: 2rem;
    margin-inline-start: 1.2rem;
}

.scores{
    width: 100%;
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    margin-inline-end: .5rem;
}

.board {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(22, 1fr);
    grid-auto-columns: 20px; /* Tamaño de celda en columnas */
    grid-auto-rows: 20px;    /* Tamaño de celda en filas */
    width: 280px;
    height: 440px;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 6px dashed #151D00;
}

.odd-cell {
    background-color: #ABD653;
}

.even-cell {
    background-color: #A3D04A;
}

.food {
    animation-timing-function: linear;
    animation-name: light-food;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-play-state: running;
    animation-timeline: auto;
    transition: background-color .3s ease;
}

.head{
    background-color: #0659a7 !important;
}

.controllers{
    display: block;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.display-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.button{
    border-radius: 0.3rem;
    background-color: #1c157a;
    width: 50px;
    aspect-ratio: 1/1;
    padding: 6px;
    justify-self: center;
    align-self: center;
}

.action-rotate{ grid-area: 1 / 1 / 2 / 4;}
.action-left{ grid-area: 2 / 1 / 3 / 2; }
.action-down{ grid-area: 2 / 2 / 3 / 3; }
.action-right{ grid-area: 2 / 3 / 3 / 4;}

@media screen and (min-width: 600px){
    .board {
        grid-template-columns: repeat(26, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-auto-columns: 20px; /* Tamaño de celda en columnas */
        grid-auto-rows: 20px;    /* Tamaño de celda en filas */
        width: 520px;
        height: 300px;
    }

    .pause{
        width: 30px;
        font-size: 1.1rem;
        font-weight: 900;
        margin-block-start: 25px;
        margin-inline-start: 1.5rem;
        
    }
    .scores{
        margin-block-end: 20px;
        column-gap: 2rem;
        margin-inline-end: 2.5rem;
    }
    .text-score{
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 500;
    }

    .controllers{
        display: none;
    }

}

@media screen and (min-width: 900px){
    .board {
        grid-template-columns: repeat(29, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-auto-columns: 30px; /* Tamaño de celda en columnas */
        grid-auto-rows: 30px;    /* Tamaño de celda en filas */
        width: 870px;
        height: 450px;
    }
}

@media screen and (min-width: 1500px){
    .board {
        grid-template-columns: repeat(32, 1fr);
        grid-template-rows: repeat(18, 1fr);
        grid-auto-columns: 45px; /* Tamaño de celda en columnas */
        grid-auto-rows: 45px;    /* Tamaño de celda en filas */
        width: 1440px;
        height: 810px;
    }

    .pause{
        width: 55px;
        font-size: 2rem;
        font-weight: 900;
        margin-block-start: 25px;
        margin-inline-start: 2.5rem;
        aspect-ratio: 15/16;
    }
    .scores{
        margin-block-end: 20px;
        column-gap: 2rem;
        margin-inline-end: 3rem;
    }

    .text-score{
        font-size: 2rem;
        line-height: 1.75rem;
        font-weight: 500;
    }
}

@keyframes light-food {
    from {
        background-color: #a70606;
    }
    to {
        background-color: #c70f0f
    }
}