<section class="shared-container relative" [ngClass]="{'opacity-95': this.controller.gameOver}">
    <app-particles></app-particles>

  
    <main class="shared-wrapper">
        <div class="game-container">
            <canvas #tetris class="border-radial"></canvas>
        </div>

        <div class="info-container">
            <ul>
                <li class="mb-8 flex justify-end items-center text-3xl pause">
                    <button class="text-format menu-logo" role="button" (click)="pause()">||</button>
                </li>
                <li class="next">
                    <h2 class="point-title menu-logo">Next</h2>
                    <canvas #nextPiece class="border-radial"></canvas>
                </li>
                <li class="score">
                    <h2 class="point-title menu-logo">Score</h2>
                    <span class="point">{{ this.point.score }}</span>
                </li>
                <li class="lines">
                    <h2 class="point-title menu-logo">Level</h2>
                    <span class="point">{{ this.controller.level }}</span>
                </li>
                <li class="times">
                    <h2 class="point-title menu-logo">Time</h2>
                    <chronometer class="point"></chronometer>
                </li>
                <li class="controllers">
                    <div class="display-buttons">
                        <button class="button action-rotate" (mousedown)="onPress('w')" >w</button>
                        <button class="button action-left" (mousedown)="onPress('a')" >a</button>
                        <button class="button action-down" (mousedown)="onPress('s')" >s</button>
                        <button class="button action-right" (mousedown)="onPress('d')" >d</button>
                    </div>
                </li>
            </ul>
        </div>
    </main>

</section>

<div class="modal" *ngIf="this.controller.gameOver">
    <h3 class="message-modal text-format menu-logo">Game Over</h3>
    <ul>
        <li>
            <p class="point">Current Score {{ this.point.score }}</p>
            <p class="point">Max Score {{ this.point.maxScore }}</p>
        </li>
        <li>
            <p class="point">Current Level{{ this.point.level }}</p>
            <p class="point">Max level {{ this.point.maxLevel }}</p>
        </li>
        <li>
            <p class="point">Current Time {{ this.point.time }}</p>
            <p class="point">Max time {{ this.point.maxTime }}</p>
        </li>
    </ul>
    <div class="w-full flex justify-center items-center mt-4 buttons">
        <button class="abstract-button exit-game" (click)="close()">Exit Game</button>
        <button class="abstract-button play-again" (click)="restart()">Play Game</button>
    </div>
</div>

<div class="modal" *ngIf="this.controller.isPaused">
    <h3 class="message-modal text-format menu-logo">Welcome</h3>

    <h4 class="text-format message-modal-sub">How to play</h4>
    <p class="text-intro">Left: <strong>a</strong> y <strong>&larr;</strong></p>
    <p class="text-intro">Right: <strong>d</strong> y <strong>&rarr;</strong></p>
    <p class="text-intro">Down: <strong>s</strong> y <strong>&darr;</strong></p>
    <p class="text-intro">Rotate Piece: <strong>w</strong> y <strong>&uarr;</strong></p>
    <p class="text-intro">Pause/Resume: <strong>p</strong> y <strong>escape</strong></p>

    <div class="w-full flex justify-center items-center mt-4 buttons">
        <button class="abstract-button exit-game" (click)="close()">Exit Game</button>
        <button class="abstract-button play-again" (click)="playGame()">Play Game</button>
    </div>
</div>