.modal-bg{
    background-color: var(--ttt-bg);
}

.modal ul {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block-start: 1rem;
}

.modal ul li {
    display: flex;

    column-gap: 10px;
}


.modal p{
    color: var(--ttt-text-200);
    text-align: center;
}

.modal p span {
    margin-inline-start: 0.6rem;
    text-align: center;
    font-size: 1rem;
}

.point{
    font-weight: 500;
    font-size: 0.9rem;
    color: #56bbbd;
}

@media screen and (min-width: 600px) {
    .point{
        font-size: 1.1rem;
    }
    .modal ul li {
        flex-direction: column;
    
        row-gap: 4px;
    }

    .modal p span {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1500px) {

    .modal ul li {
        flex-direction: column;
    
        row-gap: 10px;
    }

    .point{
        font-size: 1.5rem;
    }

    .modal p span {
        font-size: 1.6rem;
    }
}