<div class="modal modal-bg">
  <h3 class="modal-title-with-bar">Game Over</h3>
  <ul>
      <li>
          <p class="point">Current Score <span>{{ this.point.score }}</span></p>
          <p class="point">Max Score  <span>{{ this.point.maxScore }}</span></p>
      </li>
      <li>
          <p class="point">Current Level <span>{{ this.point.level }}</span></p>
          <p class="point">Max level  <span>{{ this.point.maxLevel }}</span></p>
      </li>
      <li>
          <p class="point">Current Time  <span>{{ this.point.time }}</span></p>
          <p class="point">Max time  <span>{{ this.point.maxTime }}</span></p>
      </li>
  </ul>
  <div class="w-full flex justify-center items-center mt-1 buttons">
      <button class="abstract-button exit-button" (click)="close()">Exit Game</button>
      <button class="abstract-button play-button" (click)="restart()">Play Game</button>
  </div>
</div>