<section class="shared-container relative">
   
        <app-particles></app-particles>

        <div class="text-format menu-content">
            <h1 class="menu-title select-none">Start Menu</h1>
    

            <nav class="menu-buttons">
                <a class="text-format option" role="button" routerLink="/games" (mouseover)="onHover(0)" (mouseleave)="notHover()">
                    <span style="opacity: 0;" class="text-format" #spanElement> > </span> 
                    Play Games
                </a>
                <!-- 
                <a class="text-format option" role="button" routerLink="/options" (mouseover)="onHover(1)" (mouseleave)="notHover()">
                    <span style="opacity: 0;" class="text-format" #spanElement> > </span>
                    Options
                </a>-->
            </nav>
        </div>
    </section>

