.chess-square {
  --chess-square-color: var(--chess-board-white-color);
  width: var(--chess-square-size);
  height: var(--chess-square-size);
  background: var(--chess-square-color);
  position: relative;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;

  --piece-border-color: var(--chess-piece-white-color);
  --piece-bg-color: var(--chess-piece-black-color);
}

.square-black {
  --chess-square-color: var(--chess-board-black-color);
  --piece-yellow-high: rgb(255 250 139 / 70%);
}
.square-white {
  --chess-square-color: var(--chess-board-white-color);
  --piece-yellow-high: rgb(253 247 119 / 60%);
}

.chess-square > .safe-square {
  position: absolute;
  height: calc(var(--chess-square-size) / 2);
  width: calc(var(--chess-square-size) / 2);
  background-color: #4a596c70;
  border-radius: 50%;
  z-index: 100;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.square-selected {
  box-shadow: inset var(--chess-square-size) var(--chess-square-size) 4px 20px
    var(--piece-yellow-high);
}
.piece-last-move {
  box-shadow: inset var(--chess-square-size) var(--chess-square-size) 4px 20px
    rgb(0 255 220 / 15%);
}
.promotion-square {
  box-shadow: inset rgb(0, 98, 150) 0px 0px var(--chess-square-size) 0px,
    inset rgb(0, 98, 150) 0px 0px var(--chess-square-size) 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}
.king-in-check {
  box-shadow: inset rgb(179, 21, 0) 0px 0px var(--chess-square-size) 0px,
    inset rgb(163, 11, 0) 0px 0px var(--chess-square-size) 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}
