@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --ttt-cell: #eee;
    --ttt-bg: #fffefb;
  
    --ttt-bg-200: #f5f4f1;
    --tt-bg-300: #cccbc8;
  
    --ttt-primary: #d4eaf7;
    --ttt-primary-200: #b6ccd8;
    --ttt-primary-300: #3b3c3d;
    --ttt-accent: #71c4ef;
    --ttt-accent-200: #00668c;
    --ttt-text: #1d1c1c;
    --ttt-text-200: #313d44;
  
    --ttt-select-x: #FFD2D2;
    --ttt-select-x-200: #FF5C5C;
  
    --ttt-select-o: #99CCFF;
    --ttt-select-o-200: #66B2FF;
}

body {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f5f5f5;
    min-height: 100dvh;

    scroll-behavior: smooth;
    overflow-x: hidden;
    outline: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
}


.shared-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;

    background-color: #13102D;
}

.snake-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100dvh - 100px);

    background-color: #82af05;
}

.text-format {
    color: #5EE8EA;
    font-weight: bold;
}

.menu-logo {
    text-shadow: 1px 2px 0 #3e7b9a, 2px 4px 0 #1f2556, 8px 2px 0 #2b2a64,
      6px 1px 0 #2b2a64, 4px -1px 0 #2b2a64, 2px -3px 0 #2b2a64,
      -4px -3px 0 #2b2a64, -1px -2px 0 #1f2556, -4px 0px 0 #2b2a64,
      -3px 1px 0 #2b2a64, -2px 2px 0 #2b2a64, -1px 3px 0 #2b2a64,
      0px 4px 0 #2b2a64, 1px 5px 0 #2b2a64, 2px 6px 0 #2b2a64, 3px 7px 0 #2b2a64;
  }

  .abstract-button{
    color: #141B00;
    font-weight: 500;
    font-size: 1rem;
    padding: 4px;
    display: flex;
    margin-inline: auto;
    margin-block-start: 20px;
    aspect-ratio: 3/1;
    width: 110px;
    justify-content: center;
    border-radius: 0.5rem;
    text-align: center;
}

.play-again{
    background-color: #23eb0b;
    
}
.exit-game{
    background-color: #c30000;
}

.play-again:hover{
    background-color: #1aff00;
}

.exit-game:hover {
    background-color: #c40d0d;
}

@media screen and (min-width: 600px){
    .abstract-button{
        font-size: 1.1rem;
        padding: 5px;
        width: 120px;
    }
}

@media screen and (min-width: 1500px){
    .abstract-button{
        font-size: 2rem;
        padding: 10px;
        width: 200px;
    }
}