@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ttt-cell: #eee;
  --ttt-bg: #fffefb;

  --ttt-bg-200: #f5f4f1;
  --tt-bg-300: #cccbc8;

  --ttt-primary: #d4eaf7;
  --ttt-primary-100: #aed8fd;
  --ttt-primary-200: #b6ccd8;
  --ttt-primary-300: #3b3c3d;
  --ttt-accent: #71c4ef;
  --ttt-accent-200: #00668c;
  --ttt-text: #1d1c1c;
  --ttt-text-200: #313d44;

  --ttt-select-x: #ffd2d2;
  --ttt-select-x-200: #ff5c5c;

  --ttt-select-o: #99ccff;
  --ttt-select-o-200: #66b2ff;
}

html,
:root {
  height: 100%;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: transparent;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont;
  color: #f5f5f5;
  min-height: 100dvh;

  scroll-behavior: smooth;
  overflow-x: hidden;
  outline: none;
  overscroll-behavior-x: none;
  touch-action: manipulation;
}

*,
::after,
::before {
  box-sizing: border-box;
  min-width: 0;
  scrollbar-width: thin;
  z-index: 1;
}

.shared-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background: radial-gradient(
    circle,
    rgba(11, 59, 89, 1) 8%,
    rgba(14, 29, 58, 1) 100%
  );
}

.snake-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100dvh - 100px);

  background-color: #82af05;
}

.text-format {
  color: var(--ttt-primary-100);
  font-weight: bold;
}

.menu-logo {
  text-shadow: 2px 2px 0 #3c5e71, 3px 4px 0 var(--ttt-accent-200),
    4px 5px 0px var(--ttt-accent-200), 4px 6px 0px var(--ttt-accent-200),
    5px 6px 0px var(--ttt-accent-200);
}

.abstract-button {
  color: #141b00;
  font-weight: 500;
  font-size: 1rem;
  padding: 4px;
  display: flex;
  margin-inline: auto;
  margin-block-start: 20px;
  aspect-ratio: 7/2;
  width: 110px;
  justify-content: center;
  border-radius: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .abstract-button {
    font-size: 1.2rem;
    width: 165px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1500px) {
  .abstract-button {
    font-size: 2rem;
    padding: 10px;
    width: 230px;
  }
}
