<section class="shared-container justify-center relative">
  <app-particles></app-particles>
  <aside class="absolute top-[2%] left-[2%] z-50">
    <button
      class="text-format menu-logo"
      role="button"
      [disabled]="controller.isPaused"
      (click)="this.controller.pause()"
      tabindex="0"
    >
      ||
    </button>
  </aside>
  <div class="memorama-wrapper" [ngClass]="{ paused: controller.isPaused }">
    <h2 class="text-4xl mb-4 font-bold memorama-title min-[1500px]:text-6xl">
      Memorama Game
    </h2>

    <div id="game-memorama" class="game">
      @for (card of this.cards; track $index) {
      <div class="game-card rotate" (click)="controller.play(renderer, $event)">
        <div class="content">
          <div class="back">?</div>
          <div class="face">{{ controller.valueUsed[$index] }}</div>
        </div>
      </div>
      }
    </div>

    <div class="stats">
      <div class="stats-content">
        <p class="text-2xl">Time: <chronometer></chronometer></p>
        <p class="text-2xl">Successes: {{ this.controller.success }}</p>
        <p class="text-2xl">Movements: {{ this.controller.currentAttempts }}</p>
      </div>
    </div>
  </div>
</section>
@if(this.controller.isPaused){
<welcome-momerama-modal></welcome-momerama-modal>
} @if(this.controller.isGameOver){
<endgame-modal-memorama></endgame-modal-memorama>
}
