.player-card {
  @apply flex justify-start items-start gap-x-2;

  img {
    width: calc(var(--chess-square-size) + 15px);
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  p {
    font-weight: 500;
    font-size: var(--chess-player-name-size);
    color: #ffffffcf;
    text-shadow: 0.1rem 0.1rem #2e2b2b96;
  }
}

.captured-piece-container {
  width: 100%;
  position: relative;
}
